body{
    font-family: 'Outfit', sans-serif;
    max-width: 100%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
} 

.container {
    max-width: 300px;
    display: flex;
    max-height: 450px ;
    background-color:hsl(0, 0%, 100%) ;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center; 
    padding: 0;
    border-radius: 20px;
} 

.container:hover{
    background-color:hsl(0, 0%, 100%) ;
    opacity: 1;
    transition: 1s ease;
    box-shadow: 0px 0px 40px -5px black ;
    transform: scale(1.05);
    transition: 0.5s;
}

.container img {
    display: flex;
    max-width: 96%;
    max-height: 100%;
    justify-content: flex-start;
    align-items: flex-start; 
    border-radius: 20px;
} 

.qr-code {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.text-box{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.paragraf{
    margin-bottom: 10px;
    font-size: 20px;
}

.description{
    margin-bottom:10px ;
    font-size: 15px;
} 

@media (min-width:500px){

    .container{
        width: 400px;
    }

} 
